<button type="button" class="btn btn-info my-2"><%= link_to "<<", articles_path %></button>
<div class="container text-center">
<h2 class="border py-4 my-2"><%= @article.title %></h2>
<p><%= @article.content %></p>
</div>
